:root{
  --fontepadrao:'Poppins', sans-serif;
  --cor01:#EDF2F4;
  --cor02:#1E1E1E;
  --cor03:#A578F7;
  --cor04:#6735FD;
}

body{
    background-color: var(--cor02);
    font-family:'Poppins', sans-serif;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    color: #EDF2F4;
}

.circle{
  position:fixed;
  height: 40px;
  width: 40px;
  border: 1px solid white;
  border-radius: 100%;
  top: -20px;
  left: -20px;
  pointer-events: none;
}

/* Navbar */
#header{
  margin-top: 15px;
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  padding: 1rem 7%;
  background: #1E1E1E;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  font-size: 1.5em;
  font-weight: 800;
  color: #EDF2F4;
  cursor: pointer;
  transition: 0.5s ease;
}
.logo:hover{
  transform: scale(1.1);
}
.nav_link{
  font-size: 1rem;
  font-weight: 700;
  color: #EDF2F4;
  margin-left: 3rem;
  transition: 0.5s ease;
  border-bottom: 3px solid transparent;
}
.nav_link:hover,
.nav_link#active{
  border-bottom: 3px solid var(--cor03);
}


/* Home */
.home{
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}
.home_content>h1{
  font-size: 15rem;
  font-weight: 900;
}
.content{
  display: flex;
  align-items: center;
  position: absolute;
  top: 75%;
  left: 1%;
}
.content>h1{
  margin-right: 10px;
  font-size: 2.4rem;
}
.ponto{
  display: flex;
  background-color:#A578F7;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.ponto:nth-child(2){
  animation-name: pular;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: .3s;
}
.ponto:nth-child(3){
  margin-left: 5px;
  animation-name: pular;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  margin-left: 5px;
  animation-delay: .6s;
}
.ponto:nth-child(4){
  animation-name: pular;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: .9s;
  margin-left: 5px;
}

@keyframes pular{
  50%{
      transform: translatey(-12px);
  }
  100%{
      transform: translatey(0px);
  }
} 


.social_icons{
  position: absolute;
  top: 120%;
  left: -10%;
}
.social_icons>a{
  color: #EDF2F4;
}
.social_icons>a:nth-child(1){
  margin-right: 5px;
}
.social_icons>a:nth-child(2){
  margin-right: 5px;
}
.social_icons>a:nth-child(3){
  margin-right: 5px;
}