:root{
  --fontepadrao:'Poppins', sans-serif;
  --cor01:#EDF2F4;
  --cor02:#1E1E1E;
  --cor03:#1F702C;
  --cor04:#0D3013;
}

body{
    background-color: var(--cor02);
    font-family:'Poppins', sans-serif;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    color: #EDF2F4;
}
section{
  height: 100vh;
}


/* Navbar */
#header{
  margin-top: 15px;
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  padding: 1rem 7%;
  background: #1E1E1E;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  font-size: 1.5em;
  font-weight: 800;
  color: #EDF2F4;
  cursor: pointer;
  transition: 0.5s ease;
}
.logo:hover{
  transform: scale(1.1);
}
.nav_link{
  font-size: 1rem;
  font-weight: 700;
  color: #EDF2F4;
  margin-left: 3rem;
  transition: 0.5s ease;
  border-bottom: 3px solid transparent;
}
.nav_link:hover,
.nav_link#active{
  border-bottom: 3px solid var(--cor03);
}


/* Home */
.home_content{
  position: absolute;
  text-align: center;
}
.home_text{
  position: relative;
}
.home_text h1{
  
}

