@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Courgette&family=Lato&family=Poppins:wght@500&display=swap');
/* font-family: 'Poppins', sans-serif; */
:root{
    --fontepadrao:'Poppins', sans-serif;
    --cor01:#272D2D;
    --cor02:#6C2BB6;
    --cor03:#F7F7F2;
    --linkdlin:#0e76a8;
    --tiktok:#EE1D52;
}
*{
    margin: 0;
    padding: 0;
    font-family:var(--fontepadrao);
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-family: var(--fontepadrao);
    align-items: center;
    box-shadow: 0px 2px 5px rgba(136, 136, 136, 0.25);
}

.logo{
    font-weight: 600;
    font-size: 20px;
}
.nav-itens{
    display:flex;
    align-items: center;
    list-style: none;
}
.nav-itens>li>a{
    padding-left: 20px;
    padding-right: 20px;
    color:var(--cor01);
    text-decoration: none;
    font-weight: 900;
}
    .nav-itens>li>a:hover{
        color: var(--cor02);
    }

.mobile-menu-icon{
    display: none;
}
.mobile-menu{
    display: none;
}

@media screen and (max-width:730px) {
    .navbar{
        padding: 10px;
    }
    .nav-itens{
        display: none;
    }
    .mobile-menu-icon{
        display: block;
    }

    .mobile-menu-icon button{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-itens{
        display: block;
        padding-top: 1.2rem;
    }

    .open{
        display: block;
    }
}

section{
    height: 100vh;
}
.titulo{
    padding: 50px 50px 80px 50px;
}
.titulo-item{
    font-size: 35px;
}


.page-footer{
    background-color: #272D2D;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-logo{
    color: var(--cor03);
    font-size: 25px;
    font-weight: bolder;
}

.social-buttons{
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.socialmedias-button{
    width: 3rem;
    height: 3rem;
    border: none;
    background-color: transparent;
    border-radius: 50%;
    outline: 2px solid white;
    cursor: pointer;
    transition: all 0.3s;
    display: grid;
    place-items: center;
}
.socialmedias-button:hover{
    outline-offset: 3px;
    transition: all 0.3s;
}
.socialmedias-button img {
    transition: all 0.3s;
}
.socialmedias-button:hover img {
    transform: scale(1.15);
}
img{
    height: 25px;
    width: 25px;
}
.insta{
    height: 30px;
    width: 30px;
}
.linkedin{
    height: 20px;
    width: 20px;
}

.socialmedias-button:hover:nth-child(1){
    background: radial-gradient(
        circle at 30% 107%, #fdf497 0%,#fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%
    );
}
.socialmedias-button:hover:nth-child(2){
    background-color: var(--linkdlin);
}
.socialmedias-button:hover:nth-child(3){
    background-color: var(--tiktok);
}

.button{
    background-color: #0e76a8;
    height: 25px;
    width: 55px;
}