@import url(reset.css);


:root{
  --fonte-texto: "Poppins", sans-serif;
  --fonte-titulo:"Lexend Deca", sans-serif;
  --branco:#fafafa;
  --preto:#1a1a1a;
  --roxo:#6d71f9;
  --azul:#54c1fb;
}

body{
  background-color: var(--preto);
}

section{
  height: 90vh;
}

#nav-container{
  display: flex;
  background-color: var(--preto);
  border-radius: 30px;
  justify-content:space-around;
  align-items: center;

  padding: 15px 30px;
  width: 50%;             /* Define a largura */
  margin: 20px auto 0; 

  border: 1px solid rgba(245, 245, 245, 0.03);
}
#logo{
  font-family: var(--fonte-titulo);
  font-weight: 600;
  color: var(--branco);
  font-size: 1.5rem;
}
#navbar-links{
  display: flex;
  gap: 20px;
  list-style: none;
}
.links > a{
  font-family: var(--fonte-texto);
  color: var(--branco);
  font-weight: 600;
}

#apresentation {
  display: flex;
  flex-direction: column;  
  
}