:root{
  --fontepadrao:'Poppins', sans-serif;
  --cor01:#EDF2F4;
  --cor02:#1E1E1E;
  --cor03:#A578F7;
  --cor04:#8c35fd;
}

body{
    background-color: var(--cor02);
    font-family:'Poppins', sans-serif;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    color: #EDF2F4;
}


/* Navbar */
#header{
  margin-top: 15px;
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  padding: 1rem 7%;
  background: #1E1E1E;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  font-size: 1.5em;
  font-weight: 800;
  color: #EDF2F4;
  cursor: pointer;
  transition: 0.5s ease;
}
.logo:hover{
  transform: scale(1.1);
}
.nav_link{
  font-size: 1rem;
  font-weight: 700;
  color: #EDF2F4;
  margin-left: 3rem;
  transition: 0.5s ease;
  border-bottom: 3px solid transparent;
}
.nav_link:hover,
.nav_link#active{
  border-bottom: 3px solid var(--cor04);
}


/* Home */
.home{
  width: 100vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home_content{
  width: 900px;
}
.home_content>h1{
  font-size: 2rem;
  font-weight: 800;
}
.typing_text>span::before{
  content: "Software Developer";
  color: #6735FD;
  animation: words 15s infinite;
}
.typing_text span{
  position: relative;
}
.typing_text>span::after{
  content: "";
  background-color: #1E1E1E;
  border-left: 3px solid #1E1E1E ;
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  right: -8;
  animation: cursor 0.8s infinite;
}
@keyframes cursor{
  to{
    border-left: 3px solid #6735FD;
  }
}
@keyframes words {
  0%,20%{
    content: "Web Developer";
  }
  21%,40%{
    content: "Software Developer";
  }
  41%,60%{
    content: "Content Creator";
  }
  61%,80%{
    content: "Streammer";
  }
  81%,100%{
    content: "Cloud Engennier";
  }
}
.social_icons{
  display: flex;
  position: relative;
  top: 70%;
  left: -820px;
  translate: -50% -50%;
}
.social_icons>a{
  color: #EDF2F4;
  font-size: 25px;
}
.social_icons>a:nth-child(2){
  margin-left: 20px;
}
.social_icons>a:nth-child(3){
  margin-left: 20px;
}
.social_icons>a:nth-child(4){
  margin-left: 20px;
}


/* Skills */

.skills{
  /* display: flex; */
  position: relative;
  top: 230px;
  left: 44.5%;
  translate: -50% -50%;
  width: 900px;
}
.skills_content>h1{
  font-size: 1.8rem;
}
.skills_content>h1>span{
  color: #6735FD;
}

.languages_content{
  display: flex;
  margin-top: 50px;
}
.boxes{
  text-align: center;
  font-size: 0.7em;
  height: 200px;
  width: 300px;
  background-color: #262626;
  border-radius: 25px;
}
#box02{
  margin-left: 30px;
}
.boxes>h2{
  margin-top: 35px;
}